# Ignore Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore system-specific Python files
*.pyo
*.pyd

# Ignore editor-specific files
.vscode/
.idea/

# Ignore virtual environment directories
venv/
env/
