[flake8]
#Basic flake8 file

# Maximum line length
max-line-length = 88

# Exclude directories or files from linting
exclude =
    .git,
    __pycache__,
    venv,
    .vscode,
    .idea,
    .mypy_cache,
    .pytest_cache

# Set the default import order style
import-order-style = google
