aiofiles==23.2.1
aiogram==3.3.0
aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
ansible==9.3.0
ansible-compat==4.1.11
ansible-core==2.16.4
ansible-lint==24.2.0
anyio==3.7.1
astroid==3.1.0
async-timeout==4.0.3
attrs==23.2.0
black==24.2.0
blinker==1.7.0
bracex==2.4
Brotli==1.1.0
build==1.0.3
CacheControl==0.13.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
coverage==7.4.3
crashtest==0.4.1
cryptography==42.0.5
dill==0.3.8
distlib==0.3.8
distro==1.9.0
duckduckgo-search==3.8.5
dulwich==0.21.7
fastjsonschema==2.19.1
filelock==3.13.1
flake8==7.0.0
flasgger==0.9.7.1
Flask==3.0.2
frozenlist==1.4.1
gTTS==2.3.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.3
httpx==0.24.1
hyperframe==6.0.1
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
install==1.3.5
installer==0.7.0
isort==5.13.2
itsdangerous==2.1.2
jaraco.classes==3.3.1
jaraco.context==4.3.0
Jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keyring==24.3.0
lxml==5.1.0
magic-filter==1.0.12
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.2.0
msgpack==1.0.7
multidict==6.0.5
mypy-extensions==1.0.0
openai==1.3.3
packaging==23.2
pathspec==0.12.1
pep8==1.7.1
pexpect==4.9.0
Pillow==10.1.0
pkginfo==1.9.6
platformdirs==3.11.0
pluggy==1.4.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
ptyprocess==0.7.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
pyflakes==3.2.0
Pygments==2.17.2
pylint==3.1.0
pynput==1.7.6
pyobjc-core==10.1
pyobjc-framework-ApplicationServices==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-CoreText==10.1
pyobjc-framework-Quartz==10.1
pyproject_hooks==1.0.0
pytest==8.0.2
pytest-cov==4.1.0
python-dotenv==1.0.1
python-telegram-bot==20.3
pytube==15.0.0
PyYAML==6.0.1
rapidfuzz==3.6.1
redis==5.0.2
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-toolbelt==1.0.0
resolvelib==1.0.1
rich==13.7.1
rpds-py==0.18.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
socksio==1.0.0
spotipy==2.23.0
subprocess-tee==0.4.1
tenacity==8.2.2
tiktoken==0.5.1
toml==0.10.2
tomlkit==0.12.3
tqdm==4.66.2
trove-classifiers==2024.1.31
twc-cli==2.4.1
typer==0.7.0
typing_extensions==4.9.0
urllib3==2.2.0
virtualenv==20.25.0
wcmatch==8.5.1
Werkzeug==3.0.1
whois==0.9.27
wolframalpha==5.0.0
xattr==0.10.1
xmltodict==0.13.0
yamllint==1.35.1
yarl==1.9.4
zipp==3.17.0
