# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and Logs
.cache
.pytest_cache/
*.log

# Virtual environment
venv/
.venv/

# Git and version control
.git/
.gitignore

# Editor directories and files
.idea/
*.swp
*~ with no extension
.vscode/

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
coverage.xml
*.cover

# Flask file uploads
/instance/uploads/

# Configuration files
*.conf
*.json

# Dockerfile and docker-compose for safety
Dockerfile
docker-compose.yml