body {
  background-color: #1a1b26; /* Dark blue background */
}

.date-time {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #c5c8c6; /* Text color for dark theme */
  background-color: #1a1b26; /* Dark blue background */
}

#date,
#time {
  font-size: 4em;
  margin-bottom: -0.5em;
}

#date {
  color: #ff9e64; /* Text color for dark theme */
}
