- name: Install application
  include_tasks: "{{ role_path }}/tasks/run.yaml"
  when: "web_app_full_wipe is not defined"

- name: Wipe appliction
  include_tasks:
    file: "{{ role_path }}/tasks/wipe.yaml"
  when: "web_app_full_wipe is defined"