apiVersion: v1
kind: Service
metadata:
  name: {{ include "app-python.fullname" . }}
  labels:
    {{- include "app-python.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 5001
      targetPort: 5001
      protocol: TCP
      name: http
  selector:
    {{- include "app-python.selectorLabels" . | nindent 4 }}
