.DS_Store
.ansible
.azure/
.bash_history
.boto
.cache
*.code-workspace
.config
.gitconfig
.local
.netrc
*.plan
.sentinel
.ssh
.terrascan
.terraform
.terraformrc
**/.terraform/*
.terraform.d
*.tfstate
*.tfstate.*
.vscode
.idea
authcodes
crash.log
credentials.json
init-cfg.txt
temp
terraform.rc
tmp
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
**/.DS_Store
**/.ansible/
**/.azure/
**/.bash_history
**/.boto
**/.cache/
**/*.code-workspace
**/.config/
**/.gitconfig
**/.local/
**/.netrc
**/*.plan
**/.sentinel
**/.ssh/
**/.terrascan/
**/.terraform/
**/.terraformrc
**/.terraform/**
**/.terraform.d/
**/*.tfstate
**/*.tfstate.*
**/.vscode/
**/.idea/
authcodes
crash.log
credentials.json
init-cfg.txt
temp/
terraform.rc
tmp/
**/terraform.tfvars
**/terraform.tfvars.json
**/*.auto.tfvars
**/*.auto.tfvars.json