apiVersion: v1
kind: Service
metadata:
  name: app-golang-service
spec:
  selector:
    app: app-golang
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30001
  type: NodePort
