apiVersion: apps/v1
kind: Deployment
metadata:
  name: time-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: time-app
  template:
    metadata:
      labels:
        app: time-app
      annotations:
         vault.hashicorp.com/agent-inject: 'true'
         vault.hashicorp.com/role: 'internal-app'
         vault.hashicorp.com/agent-inject-secret-database-config.txt: 'internal/data/database/config'
    spec:
      serviceAccountName: internal-app
      containers:
      - name: time-app
        image: n0m1nd/moscow_time_python
        env:
          - name: SECRET_TOKEN
            valueFrom:
              secretKeyRef:
                name: credentials
                key: secret_token
        ports:
        - containerPort: 8081
        volumeMounts:
          - name: config-json-volume
            mountPath: /config.json 
            subPath: config.json 
          - name: counter-volume 
            mountPath: /visits

      volumes:
        - name: config-json-volume 
          configMap: 
            name: config 
