---
- name: Install docker
  hosts: all
  roles:
    - role: docker
      become: true

- name: Deploying Python web app
  hosts: all
  roles: 
  - role: web_app
    become: true
    vars:
      web_app_name: "app_python"
      web_app_port: 5000
      web_app_dir: "/home/{{ ansible_user }}/{{ web_app_name }}"
      host_name: "{{ ansible_host }}"
      web_app_full_wipe: true