<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How many times Moscow Time App was visited</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 20px;
            color: #666;
        }

    </style>
</head>
<body>
<h1>Visits</h1>
<p>The current number of index page's visits is: {{ num_visits }}</p>
</body>
</html>
