version: '3.8'
services:
    {{app_name}}:
        image: {{ docker_image }}
        container_name: {{ docker_container }}
        restart: unless-stopped
        ports:
             - "{{ external_port }}:{{ internal_port }}"