global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
  - static_configs:
    - targets: []
    scheme: http
    timeout: 10s
    api_version: v1
scrape_configs:
- job_name: prometheus
  honor_timestamps: true
  scrape_interval: 15s
  scrape_timeout: 10s
  metrics_path: /metrics
  scheme: http
  static_configs:
  - targets:
    - localhost:9090

- job_name: 'loki'
  static_configs:
  - targets: ['loki:3100']

- job_name: 'python'
  static_configs:
  - targets: ['app_python:80']

- job_name: 'go'
  static_configs:
  - targets: ['app_go:8080']

- job_name: 'promtail'
  static_configs:
  - targets: ['promtail:9080']

- job_name: 'grafana'
  static_configs:
    - targets: ['grafana:3000']