apiVersion: 1
datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      httpHeaderName1: "Scope-OrgID"
    secureJsonData:
      httpHeaderValue1: "docker"