<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moscow Time</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            background: url('/static/moscow.jpg') center/cover no-repeat fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="color: #000;">Current Time in Moscow:</h1>
        <h3>Date: {{ date_part }}</h3>
        <h3>Time: {{ time_part }}</h3>
    </div>
</body>
</html>
