<!DOCTYPE html>
<html lang="en">
<style>
    h1 {
        color: antiquewhite;
        font-size: 10vh;
        text-align: center;
        font-family: courier;
    }
    h2 {
        color: antiquewhite;
        font-size: 7vh;
        text-align: center;
        font-family: courier;
    }
    body{
        background: cadetblue;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Current Moscow Time</title>
</head>
<body>
    <h2 style="margin-bottom: 10vh"> MOSCOW TIME AND DATE NOW: </h2>
    <h1>{{ time }}</h1>
    <h1>{{ date }}</h1>
    <meta http-equiv="refresh" content="1" />
</body>
</html>