<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moscow DateTime</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        h1, p {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>Current Date And Time in Moscow:</h1>
        <p>{{ time }}</p>
    </div>
</body>
</html>
