spec:
   template:
      metadata:
      annotations:
         vault.hashicorp.com/agent-inject: 'true'
         vault.hashicorp.com/role: 'app-python'
         vault.hashicorp.com/agent-inject-secret-database-config.txt: 'internal/data/database/config'