name: CI

on:
  push:
    branches:
      - main
      - lab3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      - name: Lint code with Flake8
          run: |
            cd app_python
            pip install flake8
            flake8 .

      - name: Run tests
          run: |
            cd app_python
            python tests.py

      - name: Snyk Checks
          run: |
            npm install -g snyk
            snyk auth ${{ secrets.SNYK_KEY }}
            cd app_python
            snyk test --code

      - name: Docker Login
          uses: docker/login-action@v2
          with:
            registry: docker.io
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
          run: |
            cd app_python
            docker build -t ${{ secrets.DOCKER_USERNAME }}/flask-moscow-app .
            docker tag flask-moscow-app ${{ secrets.DOCKER_USERNAME }}/flask-moscow-app
            docker push ${{ secrets.DOCKER_USERNAME }}/flask-moscow-app