name: Lint

on:
    push:
    pull_request:

permissions:
    contents: read

jobs:
    lint:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ./app_python

        steps:
            -   name: Check code
                uses: actions/checkout@master

            -   name: Setup Python
                uses: actions/setup-python@master
                with:
                    python-version: 3.10.13
                    cache: pip

            -   name: Install dependencies
                run: pip install -r requirements.txt

            -   name: Lint
                run: pylint app.py