<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time In Moscow</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/index.js"></script>
    <script>
        $(document).ready(function() {
            function updateTime() {
                $.get("/time", function(data){
                    $("#msc_time").html(data)
                });
            }

            updateTime();

            window.setInterval(function () {
                updateTime();
            }, 1000);
        });
    </script>
</head>

<body>
    <section class="galaxy-wrapper">
        <div class="container">
            <div class="time">
                <h2>Current Moscow Time</h2>
                <p id="msc_time"></p>
            </div>
        </div>
        <canvas id="galaxy" width="100%" height="100%"></canvas>
    </section>
</body>
</html>